.folder-lists-container {
  @include centering;
  width: 700px;
  margin-bottom: 50px;
  .folder-save-form {
    display: flex;
    justify-content: space-between;
    height: 70px;
    padding: 15px 0;
    .folder-input-box {
      width: 100%;
      margin-right: 10px;
      padding: 0 0 0 10px;
    }
    .folder-save-btn {
      width: 100px;
      background-color: $blue;
      padding: 0 30px;
      color: $white;
      text-align: center;
      cursor: pointer;
    }

  }
  .folder-content {
    padding: 20px;
    background-color: $white;
    min-height: 100px;
    border: 1px solid $gray;
    .folder-item {
      margin-bottom: 10px;
      margin-left: 20px;
      list-style: disc;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
