.header {
  @include clearfix;
  background-color: $white;
  border-bottom: 1px solid $gray;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 20;
  &-inner {
    @include centering;
    width: 100%;
    max-width: 700px;
    &--left {
      float: left;
      font-size: 20px;
      span {
        line-height: 64px;
      }
    }
    &--search {
      float: left;
      .input-form {
        height: 23px;
        margin: 20px 0 0 20px;
      }
      #header-search-container {
        display: none;
        position: fixed;
        top: 50px;
        width: 500px;
        padding: 5px;
        border: 1px solid $gray;
        background-color: $white;
        max-height: 80vh;
        overflow-x: hidden;
        overflow-y: scroll;
        .memo-search-result {
          &__title {
            color: red;
          }
        }
      }
    }
    &--right {
      @include clearfix;
      float: right;
      .logout-btn {
        @include user-btn;
      }
      .sign-in-btn {
        @include user-btn;
        margin-right: 10px;
        float: left;
      }
      .sign-up-btn {
        @include user-btn;
        float: right;
      }
    }
  }
}
