.memo-lists-container {
  @include centering;
  width: 700px;
  margin-bottom: 50px;
  padding-top: 114px;
  .memo-save-form {
    display: flex;
    justify-content: space-between;
    height: 70px;
    padding: 15px 0;
    .memo-input-box {
      width: 100%;
      margin-right: 10px;
      padding: 0 0 0 10px;
    }
    .memo-save-btn {
      width: 100px;
      background-color: $blue;
      padding: 0 30px;
      color: $white;
      text-align: center;
      cursor: pointer;
    }

  }
  .memo-content {
    background-color: $white;
    min-height: 100px;
    border: 1px solid $gray;
    table {
      width: 100%;
      tr {
        th {
          height: 34px;
          padding-left: 10px;
          background-color: #EEFFFF	;
          border-bottom: 1px solid $gray;
          &:first-child {
            width: 75%;
            border-right: 1px solid $gray;
          }
          a {
            color: $black;
          }
        }
        td {
          height: 34px;
          padding-left: 10px;
          &:first-child {
            width: 75%;
            border-right: 1px solid $gray;
          }
        }
        &:nth-child(odd) {
          background-color: #EEEEEE;
        }
      }
    }
  }
}
