.sign-in-content {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 660px;
  h2 {
    margin: 20px 0;
    font-size: 20px;
  }
  .field {
    input {
      width: 100%;
      margin: 5px 0 15px;
      padding: 10px;
      border: 1px solid #D8D8D8;
      border-radius: 5px;
    }
  }
  .actions {
    input {
      width: 100%;
      margin: 5px 0 15px;
      padding: 10px;
      background-color: $blue;
      border-radius: 20px;
      color: $white;
      border: 0;
      font-size: 18px;
    }
  }
}
